@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --main-color: #76b5c5;
    --black:#13131a;
    --bg:#063970;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: .2s linear;
}

.navbar-brand{
    text-indent: 30px;
    font-size:x-large;
}

.navbar .btn{
    position: relative;
    
}

.main-page-text a{
    text-decoration: none;
    color:black;
}

.card {
    width: fit-content;
    height: fit-content;
    margin: 0px;
}
.card-body .card-title{
    text-transform: capitalize;
    font-size: 1.5rem;
}
section .about {
    min-height: 100vh;
    display: flex;
}
.row p{
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 70px;
    text-align: justify;
    text-indent: 40px;
    text-transform: none;
    justify-content: center;
}
.about .row .img{
    position: relative;
    bottom: 500px;
    
}

